#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=Google Presentation
Comment=The Google Presentation Application
Terminal=false
Type=Application
Exec=xdg-open https://docs.google.com/presentation/u/0/
Icon=/usr/share/web-apps/GoogleSlides.png
