#!/usr/bin/env xdg-open

[Desktop Entry]
Encoding=UTF-8
Name=Google Spreadsheet
Comment=The Google Spreadsheet Application
Terminal=false
Type=Application
Exec=xdg-open https://docs.google.com/spreadsheets/u/0/
Icon=/usr/share/web-apps/GoogleSpreadsheet.png28:BE:9B:BC:85:2A  -82        5        0    0   6  54e  WPA2 CCMP   PSK  LuizGonzaga
